@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<!DOCTYPE html>
<html lang="en">



<body>

  @*  @await Component.InvokeAsync("_DashboradStatisticPartial")*@
    @await Component.InvokeAsync("_DashboardchartPartial")
    <!-- Sales Chart End -->
    <!-- Recent Sales Start -->
    @await Component.InvokeAsync("_DashboardCourseRegiserPartial")
    <!-- Recent Sales End -->
    <!-- Widgets Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
           @* @await Component.InvokeAsync("DashboardGetLast3CcontactMessage")*@
            @await Component.InvokeAsync("_DashboardCalenderPArtial")
            @*@await Component.InvokeAsync("_DashboardLast5CoursePartial")*@

        </div>
    </div>
    <!-- Widgets End -->

</body>

</html>