@model Service
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Hakkımda Güncelleme  Sayfası</h6>
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label for="CategoryName" class="form-label">Icon</label>
                <input type="text" class="form-control" id="c" asp-for="Icon">
            </div>
            <div class="mb-3">
                <label for="CategoryName" class="form-label">Başlık</label>
                <input type="text" class="form-control" id="c" asp-for="Title">
            </div>
            <div class="mb-3">
                <label for="CategoryName" class="form-label">Açıklama</label>
                <input type="text" class="form-control" id="c" asp-for="Description">
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
